.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.align {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

nav .log {
  font-size: 45px;
  font-weight: 600;
  color: #181818;
}
.align .logo span {
  color: #fd6e0a;
}
ul li {
  list-style: none;
  margin-left: 50px;
}
ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
header {
  background: url(/images/developer.png), url(/images/header_bg.png), #fff8f3;
  background-repeat: no-repeat, no-repeat;
  background-position: 25px 25px, right bottom;
}
.hero-section {
  width: 83%;
  max-width: 1332px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 163px;
  margin: 0 38px 0 230px;
}
.hero-image img {
  vertical-align: middle;
}
.hero-content h2 {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.hero-content h1 {
  color: #181818;
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 20px;
}
.hero-content p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.about {
  background-color: #fff8f3;
  margin: 130px 230px;
  border-radius: 10px;
  text-align: center;
  padding: 130px 156px;
  border: 1px solid black;
}
.about-content h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.about-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.skills {
  text-align: center;
  width: 71%;
  max-width: 1440px;
  margin: 0 auto;
}
.head {
  padding: 0 100px;
}
.skills .head h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.skills .head p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.cards .card-info img {
  margin-bottom: 30px;
}
.cards .card-info h2 {
  font-weight: bold;
  color: #181818;
  font-size: 20px;
  margin-bottom: 20px;
}
.cards .card-info p {
  line-height: 28px;
  color: #757575;
  font-size: 16px;
}
.card-info {
  max-width: 267px;
  text-align: left;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.247);
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.summary {
  width: 71%;
  max-width: 1440px;
  margin: 0 auto;
}
.summary-cards {
  display: flex;
  flex-wrap: wrap;
}
.summary h2 {
  text-align: center;
  font-weight: bold;
  color: #181818;
  font-size: 35px;
  margin-bottom: 113px;
  margin-top: 130px;
}
.summary-content {
  max-width: 558px;
  padding-right: 50px;
}
.summary-content h3 {
  font-weight: bold;
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}
.summary-content h4 {
  font-weight: bold;
  color: #474747;
  font-size: 25px;
  margin-bottom: 10px;
}
.summary-content h5 {
  font-weight: 600;
  color: #757575;
  font-size: 20px;
  margin-bottom: 20px;
}
.summary-content p {
  color: #757575;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 28px;
}
.summary-content hr {
  color: #d1d1d1;
  margin: 30px auto;
}
.cv-btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 113px;
}
footer {
  background-color: #fff8f3;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  gap: 117px;
  padding: 130px 230px;
}
.footer-content h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.footer-content p {
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
  max-width: 562px;
}
.footer-content .icons a {
  margin-right: 24px;
}
.footer-form {
  border: 1px solid black;
}
.footer-form h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 28px;
}
.footer-form input[type="text"] {
  background-color: white;
  font-size: 16px;
  color: #757575;
  border-radius: 5px;
  padding-left: 30px;
  width: 461px;
  height: 64px;
}
